RewriteEngine On

# Redirection vers HTTPS uniquement si HTTP ET certains dossiers ciblés
RewriteCond %{HTTPS} off
RewriteCond %{REQUEST_URI} ^/wp-.* [NC,OR]
RewriteCond %{REQUEST_URI} ^/cgi-bin/ [NC,OR]
RewriteCond %{REQUEST_URI} ^/\.well-known/ [NC,OR]
RewriteCond %{REQUEST_URI} ^/function/ [NC]
RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

# Réécritures d’URL internes
RewriteRule ^connexion$ login.php [L]
RewriteRule ^inscription-particulier$ register_customers.php [L]
RewriteRule ^inscription-pro$ register_pro.php [L]
RewriteRule ^style\.css$ asset/style/css/style.css [L]
RewriteRule ^img/(.*)$ asset/style/img/$1 [L]
RewriteRule ^mail_confirm$ mail_confirm.php [L]
RewriteRule ^pro$ public/view-all-pro.php [L]
RewriteRule ^pro-details$ public/view-details-pro.php [L]
RewriteRule ^dashbord$ pro-view/dashbord.php [L]
RewriteRule ^dashbord_c$ public/dashbord_c.php [L]
RewriteRule ^prestation$ pro-view/prestation.php [L]
RewriteRule ^profil$ pro-view/profil-pro.php [L]
RewriteRule ^d&f$ pro-view/d&f.php [L]
RewriteRule ^setting$ pro-view/setting.php [L]
RewriteRule ^cgp/(.*)$ pro-viewdocs/cgp/$1 [L]
RewriteRule ^cgu/(.*)$ pro-viewdocs/cgu/$1 [L]
RewriteRule ^z$ logout.php [L]
RewriteRule ^abonnement$ public/abonnement.php [L]
RewriteRule ^v-chat$ config/php/chat/view-chat.php [L]
RewriteRule ^envoie-chat$ config/php/chat/envoie-chat.php [L]
RewriteRule ^message$ public/message.php [L]
RewriteRule ^devis$ public/devis.php [L]
RewriteRule ^rdv$ public/rdv.php [L]
RewriteRule ^chat$ public/chat.php [L]
RewriteRule ^view-pro$ public/view-pro.php [L]
RewriteRule ^view-v$ public/view-vehicule.php [L]
RewriteRule ^get-siret$ config/php/get-siret.php [L]
RewriteRule ^check-message$ config/php/chat/check_message.php [L]
RewriteRule ^img_vehicule/(.*)$ uploads/prestations/$1 [L]
RewriteRule ^uploads/prestations/(.*)$ pro-view/uploads/prestations/$1 [L]
RewriteRule ^uploads/(.*)$ pro-view/uploads/$1 [L]
RewriteRule ^devis-pro$ pro-view/devis-create.php [L]
RewriteRule ^zar$ pro-view/config/ajax_clients.php [L]
RewriteRule ^raz$ pro-view/config/ajax_prestations.php [L]
RewriteRule ^boutique$ boutique.php [L]
RewriteRule ^dzt/(.*)$ public/devis_pdf/$1 [L]
RewriteRule ^facture_pro$ pro-view/facture_create.php [L]
RewriteRule ^add_user$ pro-view/add_user.php [L]
RewriteRule ^delete_user$ pro-view/delete_user.php [L]
RewriteRule ^logout_devices_p$ pro-view/config/logout_devices_p.php [L]
RewriteRule ^fzt/(.*)$ /facture_pdf/$1 [L]
RewriteRule ^cgv$ public/cgv.html [L]
RewriteRule ^cgu$ public/cgu.html [L]
RewriteRule ^politique-confidentialite$ public/politique-confidentialite.html [L]
RewriteRule ^mentions-legales$ public/mentions.html [L]
RewriteRule ^contact$ public/contact.php [L]
RewriteRule ^checkout$ config/php/payment/paiement.php [L]
RewriteRule ^thanks$ public/thanks.php [L]  
RewriteRule ^config.js asset/js/config.js [L]
RewriteRule ^forgot forgot.php [L]
RewriteRule ^details_v$ public/details_vehicule.php [L]
RewriteRule ^traker.js asset/js/traker.js [L]
RewriteRule ^traker.php api/traker.php [L]
RewriteRule ^success$ public/sucess.php [L]
RewriteRule ^resend-verification$ resend-verification.php [L]
RewriteRule ^get_vehicule$ pro-view/get_vehicule.php [L]
RewriteRule ^paiement_refuse$ public/paiement_refuser.php [L]
# Sécurité HTTP
Header always set Strict-Transport-Security "max-age=604800; includeSubDomains; preload"
Header always set Cross-Origin-Opener-Policy "same-origin"
Header always set Content-Security-Policy "frame-ancestors 'self' https://yannfonrosenuissier.fr"
